<!-- <h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p> -->


<p id="notice"><%= notice %></p>

<h1>NGOs</h1>

<table>
  <thead>
    <tr>
      <th>  Name  </th>
    </tr>
  </thead>


  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
