
<h2>Instituições</h2>


<table>
  <thead>
    <tr>
      <th> Nome </th>
    </tr>
  </thead>

  <tbody>
    <% @charities.each do |charity| %>
      <tr>
        <td><%= link_to(charity.name, charity_path(charity)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
