
<h2>Instituições</h2>

<div>
  <%= form_tag(charities_path, method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
     <%= submit_tag 'Procurar' %>
  <% end %>
</div>
  



<table>
  <thead>
    <tr>
      <th> Nome </th>
    </tr>
  </thead>

  <tbody>
    <% @charities.each do |charity| %>
      <tr>
        <td><%= link_to(charity.name, charity_path(charity)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
