<h1><%= @charity.name %></h1>
<p>Find me in app/views/charities/show.html.erb</p>
<%= link_to "Doar", new_charity_donation_path(@charity) %>

<% @donations.each do |donation| %>
	<p><%= donation.inspect %></p>
<% end %>
